.slider {
    position: relative;
    overflow: hidden;
    max-width: 1350px;
    width: 100%;
}

    .slider__wrapper {
      display: flex;
      width: 100%;
    }

    .slider__item {
      flex: 0 0 100%;
      max-width: 100%;
     }


    .slider__control {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      color: #fff;
      text-align: center;
/*      opacity: 0.5;*/
      height: 50px;
      transform: translateY(-50%);
/*      background: rgba(0, 0, 0, .5);*/
    }

/*
    .slider__control:hover,
    .slider__control:focus {
      color: #fff;
      text-decoration: none;
      outline: 0;
      opacity: .9;
    }
*/

    .slider__control_left {
        bottom: 46px;
      left: 0;
    }

    .slider__control_right {
        bottom: 46px;
      left: 70px;
    }

    .slider__control::before {
      content: '';
      display: inline-block;
      width: 24px;
      height: 20px;
      background: transparent no-repeat center center;
      background-size: 100% 100%;
    }

    .slider__control_left::before {
        background-image: url(../img/slider-left-arrow.png);
        background-size: 24px 17px;
    }

    .slider__control_right::before {
        background-image: url(../img/slider-right-arrow.png);
        background-size: 24px 17px;
    }

    .slider__item>div {
      
    }
.slider__block {
    display: flex;
    justify-content: space-between;
    height: 384px;
}

.block__left {
    width: 664px;
}

.block__tittle {
    display: block;
    width: 442px;
    margin: 44px 0 24px 0;
    font-size: 18px;
    line-height: 28px;
    color: #292929;
    font-weight: bold;
    
}

.block__img {
    width: 113px;
    position: absolute;
}

.block__text {
    margin-left: 201px;
    font-size: 16px;
    line-height: 26px;
    color: #292929;
    
}

.block__button-color {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 52px;
/*    margin: 32px 52px 0 201px;*/
    background-color: #1a92cc;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
}

.block__button-white {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    width: 130px;
    height: 52px;
    text-decoration: none;
    color: #292929;
}

.block__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 370px;
    margin: 32px 0 0 201px;
}

.block__right {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 576px;
}

.block__right__small-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f6f7;
    width: 192px;
    height: 192px;
}

.block__right__big-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f6f7;
    width: 384px;
    height: 192px;
}


.block__right__tittle {
    display: block;
    margin: 0 auto;
    font-size: 29px;
    line-height: 36px;
    color: #009662;
    font-weight: bold;
}

.block__right__text {
    display: block;
    text-align: center;
    margin: 26px auto 0 auto;
    font-size: 16px;
    line-height: 19px;
    color: #292929;
}

.block__right__foto-1-2 {
    width: 384px;
}

.block__right__foto-1-3 {
    width: 192px;
}

.right__tittle__50-fond {
    font-size: 50px;
}

.right__tittle__19-fond {
    font-size: 19px;
}

.right__text__margin-top-10 {
    margin-top: 10px;
}

.block-order-0 {
    order: 0;
}

.block-order-1 {
    order: 1;
}

.block-order-2 {
    order: 2;
}

.block-order-3 {
    order: 3;
}

.block__img-3 {
    width: 160px;
}
